# 1. Discuss string slicing and provide examples

String Slicing >>

>-- String slicing refers to accessing a specific portion or a subset of a string with the original string remaining unaffected.

>-- You can use the indexes of string characters to create string slices as per the following syntax:

             slice = <String Name>[StartIndex : StopIndex : Steps]
             
1. The StartIndex represents the index from where the string slicing is supposed to begin. Its default value is 0, i.e. the string begins from index 0 if no StartIndex is specified.

2.  The StopIndex represents the last index up to which the string slicing will go on. Its default value is (length(string)-1) or the index of the last character in the string.

3. Steps represent the number of steps. It is an optional parameter. steps, if defined, specifies the number of characters to jump over while counting from StartIndex to StopIndex. By default, it is 1.

4. The string slices created, include characters falling between the indexes StartIndex and StopIndex, including StartIndex and not including StopIndex.

In [45]:
# Examples

s = "abcdefghi"
print(s[2:7])

cdefg

In [46]:
# Slice Using Negative Indices

s = "abcdefghi"
print(s[-7:-2])

cdefg

In [47]:
# Specify Step of the Slicing

s = "Nadeem Fazal"
print(s[0:12:2])

Nde aa

In [48]:
#  Specify  negative Step of the Slicing
s = "Nadeem Fazal"
print(s[12:1:-2])

lzFme

# 2.  Explain the key features of lists in Python

>> -- A list is a standard data type of Python that can store a sequence of values belonging to any type. The Lists are contained within square brackets ( [ ] ).

>>-- In Python programming, a list is created by placing all the items (elements) inside square brackets [ ], separated by commas.
>>-- It can have any number of items and they may be of different types (integer, float,string etc.).
>>-- lists are mutable

In [49]:
li = ['a', 1, 4.3, "Zero"]

In [50]:
type(li)

list

In [51]:
#  Nested List >>  A list can also have another list as an element. Such a list is called a Nested List.

lis = ["One", [8, 4, 6], ['Three']] 
lis

['One', [8, 4, 6], ['Three']]

In [52]:
# Accessing Elements in a List

l1 = ['Mother', 'Father', 'Daughter', 10, 23]
print(l1[0]) 
print(l1[2]) 
print(l1[4])

Mother
Daughter
23

In [53]:
# Negative indexing

l1 = ['Mother', 'Father', 'Daughter', 10, 23]
print(l1[-1]) 
print(l1[-2]) 
print(l1[-5])

23
10
Mother

#### Changing Elements of a List

Once a list is created, we can even change the elements of the list. This is done by
using the assignment operator (=) to change the value at a particular list index.

In [54]:
# Examples

l1 = ['Mother', 'Father', 'Daughter', 10, 23]
l1[-1] = "Daughter"
l1[3] = 12 
print(l1)

['Mother', 'Father', 'Daughter', 12, 'Daughter']

#### Concatenation of Lists
Joining or concatenating two list in Python is very easy. The concatenation operator (+), can
be used to join two lists. Consider the example given below:

In [55]:
# Example

l1= [1,2,3] #First List
l2= [3,4,5] #Second List

l3= l1+l2 #Concatenating both to get a new list
print(l3)

[1, 2, 3, 3, 4, 5]

#### Repeating/Replicating Lists
Like strings, you can use * operator to replicate a list specified number of times.
Consider the example given below:

In [56]:
# Example

li = [1, 2, 10, 23]
print(li*3)

[1, 2, 10, 23, 1, 2, 10, 23, 1, 2, 10, 23]

List Slicing>>

List slicing refers to accessing a specific portion or a subset of a list while the original list remains unaffected.

Syntax:-
slice= <List Name>[StartIndex : StopIndex : Steps]
    
● The StartIndex represents the index from where the list slicing is supposed to begin. Its default value is 0, i.e. the list begins from index 0 if no StartIndex is specified.
● The StopIndex represents the last index up to which the list slicing will go on. Its default value is (length(list)-1) or the index of the last element in the list.
● steps represent the number of steps. It is an optional parameter. steps, if defined, specifies the number of elements to jump over while counting from StartIndex to StopIndex. By default, it is 1.

In [57]:
# Examples
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[2:7:2])

['c', 'e', 'g']

In [58]:
# slicing using negative indexing

L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[6:1:-2])

['g', 'e', 'c']

Various Built-in Methods
>>--

append(): Adds an element to the end.
extend(): Adds elements from an iterable to the end.
insert(): Inserts an element at a specified position.
remove(): Removes the first occurrence of a specified value.
pop(): Removes and returns an element at a given position.
sort(): Sorts the list in place.
reverse(): Reverses the order of elements in the list

In [59]:
# Examples 
l = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
l.append('g')
print(l)

l.extend([1,2,3,4])
print(l)

l.insert(2, 6)
print(l)

l.remove('b')
print(l)

l.pop(3)
print(l)

l.reverse()
print(l)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'g']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'g', 1, 2, 3, 4]
['a', 'b', 6, 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'g', 1, 2, 3, 4]
['a', 6, 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'g', 1, 2, 3, 4]
['a', 6, 'c', 'e', 'f', 'g', 'h', 'i', 'g', 1, 2, 3, 4]
[4, 3, 2, 1, 'g', 'i', 'h', 'g', 'f', 'e', 'c', 6, 'a']

#### Using for loop and range()

In [60]:
# example
list = [1, 3, 5, 7, 9]
length = len(list) #Getting the length of the list
for i in range(length): #Iterations from 0 to (length-1)
    print(i)

0
1
2
3
4

#### List Comprehensions
Definition: Python supports list comprehensions, which provide a concise way to create lists based on existing lists or other iterables.

In [61]:
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# 3.Describe how to access, modify, and delete elements in a list with examples

Accessing Elements >>--

You can access elements in a list using indexing. Python uses zero-based indexing, meaning the first element is at index 0, the second at index 1, and so on. You can also use negative indices to access elements from the end of the list, where -1 refers to the last element.

In [62]:
# examples


my_list = ["Nadeem", "pwskills","Ajay", 40, 50]

# Access the first element
print(my_list[0]) 

# Access the third element
print(my_list[1]) 

# Access the last element
print(my_list[-1])

# Access the second-to-last element
print(my_list[-2])

Nadeem
pwskills
50
40

Modifying Elements >>--

You can modify elements by assigning a new value to a specific index. This operation changes the original list.

In [41]:
# Example

my_list = [10, 20, 30, 40, 50]

# Modify the second element
my_list[1] = 25
print(my_list) 

# Modify the last element
my_list[-1] = 45
print(my_list) 

# Modify a slice of the list
my_list[2:4] = [33, 44]
print(my_list)

[10, 25, 30, 40, 50]
[10, 25, 30, 40, 45]
[10, 25, 33, 44, 45]

Deleting Elements >>--

You can delete elements using various methods: del statement, pop() method, or remove() method.

In [42]:
# Delete method

my_list = ["Nadeem", "pwskills","Ajay", 40, 50]

# Delete the third element
del my_list[2]
print(my_list)

['Nadeem', 'pwskills', 40, 50]

In [43]:
# pop method

my_list = ["Nadeem", "pwskills","Ajay", 40, 50]

# Pop the third element

popped_element = my_list.pop(2)
print(popped_element) 
print(my_list)

Ajay
['Nadeem', 'pwskills', 40, 50]

In [44]:
# remove method

my_list = ["Nadeem", "pwskills","Ajay", 40, 50, 40]

# Remove the first occurrence of value 40
my_list.remove(40)
print(my_list)

['Nadeem', 'pwskills', 'Ajay', 50, 40]

# 4.Compare and contrast tuples and lists with examples

Here's a concise comparison of tuples and lists in Python:

Lists >>>--

Syntax: Defined with square brackets [].
Mutability: Mutable; you can change, add, or remove elements.
Methods: Many methods like append(), remove(), sort().
Use Case: Ideal for collections that need to be modified.

Tuples >>>---

Immutable: Cannot be changed after creation.
Syntax: ()
Performance: Faster for iteration and access.
Use Case: Fixed collections, like coordinates.
Hashable: Can be used as dictionary keys or set elements.

In [1]:
# Examples >> list

tasks = ['Buy groceries', 'Clean the house', 'Finish homework']

# Adding a new task
tasks.append('Call mom')

# Removing a task
tasks.remove('Clean the house')

# Modifying an existing task
tasks[1] = 'Finish work presentation'

print("Tasks:", tasks)

Tasks: ['Buy groceries', 'Finish work presentation', 'Call mom']

In [6]:
# Examples >> Tuple

coordinates = (40.7128, -74.0060) 

# Accessing elements
latitude = coordinates[0]
longitude = coordinates[1]

print("Latitude:", latitude)
print("Longitude:", longitude)

Latitude: 40.7128
Longitude: -74.006

In [7]:
coordinates[0] = 41.0000 # 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

# 5. Describe the key features of sets and provide examples of their use

Mathematically a set is a collection of items (not in any particular order). A Python set is similar to this mathematical definition with below additional conditions.

● The elements in a set cannot be repeated i.e. an element can occur only once.
● The elements in the set are immutable(cannot be modified) but the set as a whole is
mutable.
● There is no index attached to any element in a python set. So they do not support
any indexing or slicing operation.

Set Operations >>--

The sets in python are typically used for mathematical operations like union, intersection, difference, and complement, etc. We can create a set, access its elements, and carry out these mathematical operations.

In [12]:
# Creating sets
Days={"Mon","Tue","Wed","Thu","Fri","Sat","Sun"}
      
Months={"Jan","Feb","Mar"}
Dates={21,22,17}
print(Days)
print(Months)
print(Dates)

{'Thu', 'Tue', 'Sat', 'Fri', 'Mon', 'Wed', 'Sun'}
{'Mar', 'Feb', 'Jan'}
{17, 21, 22}

Note: The order of the elements has changed in the above result.

Accessing Values in a Set >>--

We cannot access individual values in a set as there is no specific order of elements in a set.
We can only access all the elements together as shown. We can also get a list of individual
elements by looping through the set.

In [13]:
Days={"Mon","Tue","Wed","Thu","Fri","Sat","Sun"}
for d in Days:
    print(d)

Thu
Tue
Sat
Fri
Mon
Wed
Sun

In [14]:
#set operations
#Union: combines elements from two sets excluding duplicates
#Intersection: only common elements btw sets
#difference: return the elements that is present in first set and not in second
#symmetric difference: returns elements that are present in either of sets but not in both

In [15]:
s1 = {"hiking", "reading", "coding"}
s2 = {"coding", "photography", "travelling"}

In [18]:
s1

{'coding', 'hiking', 'reading'}

In [19]:
s2

{'coding', 'photography', 'travelling'}

In [20]:
#union>> combine all the elements
s1 | s2

{'coding', 'hiking', 'photography', 'reading', 'travelling'}

In [21]:
#intersection >> common elements
s1 & s2

{'coding'}

In [22]:
#difference
s1-s2

{'hiking', 'reading'}

In [23]:
#symmetric difference
s1 ^ s2

{'hiking', 'photography', 'reading', 'travelling'}

In [24]:
#frozen sets>>immutable version of set, cannot be added or removed any new element
my_fs = frozenset([1, 2, 2, 2, 3, 3, 4, 5])

In [25]:
my_fs

frozenset({1, 2, 3, 4, 5})

In [26]:
type(my_fs)

frozenset

In [29]:
my_fs.add(6)

AttributeError: 'frozenset' object has no attribute 'add'

In [28]:
my_fs.pop()

AttributeError: 'frozenset' object has no attribute 'pop'

# 6.Discuss the use cases of tuples and sets in Python programming

#### use case of tuple with example

Tuples >>--

Immutable: Fixed-size, cannot be changed after creation.

Use Cases >>--

Fixed Data: Storing unchanging data like coordinates.
Multiple Return Values: Functions returning multiple values as a tuple.
Dictionary Keys: Can be used as dictionary keys if all elements are hashable.
Data Grouping: Grouping related data.

In [34]:
# Example

# Tuple for storing geographic coordinates
coordinates = (40.7128, -74.0060) 

# Accessing elements
latitude = coordinates[0]
longitude = coordinates[1]

print(f"Latitude: {latitude}, Longitude: {longitude}")

Latitude: 40.7128, Longitude: -74.006

Sets >>--

Mutable: Can add or remove elements.
Unordered: No duplicates, elements are unique.

Use Cases >>--

Removing Duplicates: Convert lists to sets to eliminate duplicates.
Membership Testing: Efficiently check if an element is in the set.
Set Operations: Perform union, intersection, and difference operations.
Unique Collections: Track unique items.

In [35]:
# Example

# List with duplicate user IDs
user_ids = [101, 102, 103, 102, 104, 105, 103]

# Convert to set to remove duplicates
unique_user_ids = set(user_ids)

print("Unique User IDs:", unique_user_ids)

Unique User IDs: {101, 102, 103, 104, 105}

# 7.Describe how to add, modify and delete items in a dictionary with examples

#### Adding Elements In a Dictionary >.--

Since a dictionary is mutable, we can add or delete entries from the dictionary. This is particularly useful if we have to maintain a dynamic data structure. To assign a value corresponding to a given key (This includes over-writing the value present in the key or adding a new key-value pair), we can use the square bracket operators to simply assign the value to a key.

In [43]:
# Example
bar= {2:1,3:2,4:3}
bar[3]=4
# This operation updates the value of the key 3 to a new value i.e. 4.
print(bar)

{2: 1, 3: 4, 4: 3}

In [44]:
bar["man"]="boy" # add a key-value pair
print(bar)

{2: 1, 3: 4, 4: 3, 'man': 'boy'}

In [45]:
# Adding or concatenation of two dictionaries:

a= {1:2,2:3,3:4}
b= {7:2,10:3,6:4}
a.update(b)
print(a)

{1: 2, 2: 3, 3: 4, 7: 2, 10: 3, 6: 4}

#### Modifying element in dictionaries

You can modify the values associated with a specific key in a dictionary

In [48]:
# Example

profiles = {
    "Nadeem": {"age": 22, "city": "New Delhi"},
    "Rehan": {"age": 25, "city": "Noida"},
    "charlie": {"age": 35, "city": "Chicago"}
}

# Updating the age of 'Nadeem'
profiles["Nadeem"]["age"] = 23

# Adding a new key-value pair to 'charlie'
profiles["charlie"]["occupation"] = "Engineer"

print(profiles)

{'Nadeem': {'age': 23, 'city': 'New Delhi'}, 'Rehan': {'age': 25, 'city': 'Noida'}, 'charlie': {'age': 35, 'city': 'Chicago', 'occupation': 'Engineer'}}

#### Deleting item in dictionary

Deleting an entry:

In order to delete an entry corresponding to any key in a dictionary , we can simple pop the key from the dictionary. The method used here is .pop() . This method removes the key-value pair corresponding to any particular key and then returns the value of the removed key-value pair

In [50]:
# Example

c={1:2,2:(3,23,3),3:4}
c.pop(2)

(3, 23, 3)

In [51]:
print(c)

{1: 2, 3: 4}

Deleting all the entries from the dictionary:

If we want to clear all the key-value pairs from the given dictionary and thus convert it into an empty dictionary we can use the .clear() method.

In [53]:
# example

c={1:2,2:(3,23,3),3:4}
c.clear()
print(c)

{}

#  8. Discuss the importance of dictionary keys being immutable and provide examples

Importance of Immutable Keys >>--

1. Hashability:
Dictionary keys are used to compute hash values, which allows Python to quickly locate values. An immutable key guarantees that its hash value remains constant.

2. Data Integrity:
Immutable keys ensure that once a key-value pair is added to the dictionary, the key cannot be altered, preventing potential data corruption or inconsistencies

In [54]:
# Using Immutable Keys

# Dictionary with tuples as keys
locations = {
    (40.7128, -74.0060): "New York City",
    (34.0522, -118.2437): "Los Angeles",
    (41.8781, -87.6298): "Chicago"
}

# Accessing a value using an immutable key (tuple)
print(locations[(40.7128, -74.0060)]) 

# Adding a new entry
locations[(37.7749, -122.4194)] = "San Francisco"
print(locations)

New York City
{(40.7128, -74.006): 'New York City', (34.0522, -118.2437): 'Los Angeles', (41.8781, -87.6298): 'Chicago', (37.7749, -122.4194): 'San Francisco'}

In [57]:
# using mutable key

# Attempting to use a list as a dictionary key (will raise an error)
try:
    my_dict = {[1, 2, 3]: "value"}  # Lists are mutable, so this will fail
except TypeError as e:
    print("Error:", e)

Error: unhashable type: 'list'

Lists are mutable, so you cannot use them as dictionary keys. Trying to do so results in a TypeError.